<section id="add-main-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                
                    <form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
                       <div class="row" > 
                        <div class="col-md-6 form-group">
                            <label for="">اختر دولة </label>
                            <select class="form-control"   [formControlName]="'allCountries'"  (change)="onCountryChange($event.target.value)">
                                <option  *ngFor="let country of countries" value="{{country.id}}" > {{country.name_ar}} </option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for=""> المدن التابعة للدولة المختارة </label>
                            <select class="form-control"  [formControlName]="'allCities'" >
                                <option  *ngFor="let city of cities" value="{{city.id}}" > {{city.name_ar}} </option>
                            </select>
                        </div>
                    </div> 
                        <div class="form-group">
                            <label for=""> اسم المدينة باللغة العربية </label>
                            <input type="text" class="form-control" [formControlName]="'name_ar'">
                        </div>
                        <div class="form-group">
                            <label for=""> اسم المدينة باللغة الانجليزية </label>
                            <input type="text" class="form-control" [formControlName]="'name_en'">
                        </div>
                   
                        <div class="form-group text-center mt-5">
                            <button class="btn btn-primary" type="submit">إضافة مدينة </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>