<section id="category-details">
    <div class="card">
        <div class="card-details text-center">
            <h3 class="text-center">بيانات المتجر</h3> 
            <table class="table" dir="rtl">
            <tbody>
                <tr>
                    <th scope="row">كود الكوبون</th>
                    <td>{{data?.code}}</td>
                </tr>
                <tr>
                    <th scope="row">نسبة الخصم</th>
                    <td>{{data?.discount}}</td>
                </tr>
                <tr>
                    <th scope="row">بداية سعر الكوبون</th>
                    <td>{{data?.min_order}}</td>
                </tr>
                <tr>
                    <th scope="row">نهاية سعر الكوبون</th>
                    <td>{{data?.max_order}}</td>
                </tr>
                <tr>
                    <th scope="row">تاريخ الأنتهاء</th>
                    <td>{{data?.expired_at}}</td>
                </tr>
                <!-- <tr>
                    <th scope="row">صورة غلاف المتجر</th>
                    <td><img [src]="data?.imagePath" style="width: 150px;height: 150px;"></td>
                </tr> -->
                <!-- <tr>
                    <th scope="row">اسم المحل</th>
                    <td>{{data?.shop?.name_ar}}</td>
                </tr>
                <tr>
                    <th scope="row">وصف المحل</th>
                    <td>{{data?.shop?.description_ar}}</td>
                </tr>
                <tr>
                    <th scope="row">تقييم المحل</th>
                    <td>
                        <span *ngFor="let item of [].constructor(data?.shop?.rate)">
                            <i style="color: gold;" class="fas fa-star"></i>
                        </span>
                    </td>
                </tr> -->
                    <!-- <tr>
                        <th scope="row"> الحالة  </th>
                        <td><span class="badge badge-success">نشط</span></td>
                        </tr>
                <tr> -->
                    <!-- <tr>
                        <th scope="row">وصف </th>
                        <td> عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إ</td>
                        </tr> -->
            </tbody>
            </table>
            <!-- <button class="btn btn-danger mt-3 mb-3" (click)="closeCard()">حسناً</button> -->
            <!-- <div class="row">
                <div class="col-md-3" *ngFor="let image of data.images">
                    <img class="w-100" src="{{image}}" alt="" >
                </div>
            </div> -->

        </div>
    </div>
</section>


