<div class="container-fluid">
    <div class="row project-cards">
      <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
              <div class="user-status">
                <table class="table table-bordernone">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="text-center">#</th>
                      <th scope="col" class="text-center">أسم المتجر</th>
                      <th scope="col" class="text-center">وصف المتجر</th>
                      <th scope="col" class="text-center">الإعدادات</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let shop of shopsArr; let i = index;">
                      <td>{{ i + 1 }}</td>
                      <td>{{shop.name_ar}}</td>
                      <td>{{shop.description_ar}}</td>
                        <td>
                          <i class="fas fa-eye text-success" style="cursor: pointer;" (click)="onDetailShop(shop)"></i>
                          |
                          <!-- <i class="fas fa-edit text-info" style="cursor: pointer;" (click)="onEditFilter(filter)"></i>
                          | -->
                          <i class="fas fa-trash-alt text-danger" style="cursor: pointer;" (click)="onDeleteShop(shop.id)"></i>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>