<section class="animate__animated animate__fadeIn home">
    <div class="container-fluid card-body card">
        <div class="row second-chart-list third-news-update" >
            <div class="col-md-12">
                <h3 class="text-center">تعديل التصفية</h3>
                <div class="card-body">
                    <form [formGroup]="editfilterForm" (ngSubmit)="onSubmit()">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>أسم التصفية باللغة العربية</mat-label>
                            <input matInput type="text" [formControlName]="'name_ar'">
                        </mat-form-field>
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>أسم التصفية باللغة الأنجليزية</mat-label>
                            <input matInput type="text" [formControlName]="'name_en'">
                        </mat-form-field>
                        <!-- <mat-form-field appearance="fill">
                            <mat-label>أسم التصفية</mat-label>
                            <mat-select [formControlName]="'filter_id'">
                              <mat-option *ngFor="let filter of filtersArr" [value]="filter.id">
                                {{ filter.name_ar }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field> -->
                        <!-- <div class="form-group col-12">
                            <label for="">أختر تصفية</label>
                            <ng-multiselect-dropdown [settings]="filterSettings" [data]="filterList" [formControlName]="'filter_id'"
                            (onSelect)="onSelectFilter($event)" (onSelectAll)="onSelectAllFilters($event)">
                            </ng-multiselect-dropdown>
                        </div> -->
                        <div class="form-group text-center mt-5">
                            <button class="btn btn-primary" type="submit" [disabled]="editfilterForm.invalid">تعديل التصفية</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>